* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --cor-principal: #086785;
  --cor-branca: white;
  --cor-preta: black;
  --cor-texto: #4a4a4a;
  --fundo-corpo: #edefea;
  --font_titulo: Arial, Helvetica;
  --cor-preta_segundaria: #242424;
}
body {
  background-color: var(--fundo-corpo);
}

.cabecalho {
  /*Css do header**/
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--cor-principal);
  position: fixed;
  top: 0;
  z-index: 9999;
}

#nav_bar {
  /*css da nav*/
  background-color: var(--cor-principal);
  display: none;
  position: fixed;
  display: none;
  top: 75px;
  bottom: 0;
  right: 0;
  width: 60%;
  margin: 0;
  padding: 0;
}
#nav_bar .listas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 95%;
}

#nav_bar .listas .list_item {
  padding: 10px;
}
#nav_bar .listas .list_item:hover {
  background-color: #046e95;
  border-radius: 10px;
}
#nav_bar .listas .list_item a {
  color: var(--cor-branca);
  font-family: var(--font_titulo);
  font-weight: 900;
  width: 100%;
  display: block;
  height: 100%;
}
#nav_bar.mostrar {
  /*Quando o menu abrir*/
  display: flex;
  transition: 0.5s ease-in-out;
}
.area_botao button {
  /*Botão mobile*/
  background-color: transparent;
  border: none;
}
.area_botao #fechar {
  display: none;
}

.area_botao #btn_mobile.mostrar #fechar {
  display: flex;
}
.area_botao #btn_mobile.mostrar #abrir {
  display: none;
}

.conteudo_principal {
  margin: 100px auto;
}
.conteudo_principal .calculos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.conteudo_principal .calculos .cabeca_calculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteudo_principal .calculos .cabeca_calculo h2 {
  text-align: center;
  padding: 10px;
  font-family: var(--font_titulo);
}
.conteudo_principal .calculos .cabeca_calculo p {
  color: var(--cor-texto);
  width: 78%;
}

.card_calculo {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-branca);
  border-radius: 10px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  gap: 13px;
  width: 80%;
}
.card_calculo select {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid var(--cor-principal);
}
.card_calculo span {
  color: var(--cor-texto);
}
.card_calculo .area_calculo {
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.card_calculo .area_calculo input {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--cor-principal);
  border-radius: 10px;
}
.card_calculo button {
  padding: 7px;
  border-radius: 10px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-principal);
  color: var(--cor-branca);
  border: none;
  cursor: pointer;
}

.destinos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 13px;
}
.destinos .cabeca_destino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destinos .cabeca_destino h2 {
  text-align: center;
  padding: 10px;
  font-family: var(--font_titulo);
}
.destinos .cabeca_destino span {
  color: var(--cor-texto);
  width: 95%;
}
.destinos .card_destino {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.destinos .card_destino .card {
  display: flex;
  background-color: var(--cor-branca);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  gap: 10px;
}
.destinos .card_destino .card .info {
  padding: 10px;
  width: 50%;
  gap: 13px;
}
.destinos .card_destino .card .info h3 {
  font-family: var(--font_titulo);
  padding: 1px;
}
.destinos .card_destino .card .info span {
  width: 100%;
  color: var(--cor-texto);
}
.destinos .card_destino .card .imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 5px;
}
.destinos .card_destino .card .imagem img {
  width: 100%;
  height: 140px;
  border-radius: 15px;
}
.destinos .card_destino .card .info .acao {
  margin: 5px auto;
}
.destinos .card_destino .card .info .acao button {
  padding: 7px 15px 7px 15px;
  border-radius: 20px;
  background-color: var(--cor-principal);
  border: none;
  width: 90%;
  cursor: pointer;
}

.destinos .card_destino .card .info .acao button a {
  color: white;
}
